Source: python-figleaf
Section: python
Priority: optional
Maintainer: John Lee <jjl@pobox.com>
Build-Depends: debhelper (>= 7.3.15ubuntu3), pristine-tar, cdbs, python-dev, python-support
Standards-Version: 3.8.3.0
Vcs-Git: git://github.com/jjlee/python-figleaf.git
Vcs-Browser: http://github.com/jjlee/python-figleaf

Package: python-figleaf
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-setuptools
Description: Code coverage reporting and analysis for Python
 This is figleaf, a code coverage recording and analysis package for Python.
